@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

/* * {
    outline: red solid 1px;
} */

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1F2937;
}
.giant {
    flex-grow: 1;
}
.wide-blue {
    background-color: #1F2937;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
}
.logo {
    color:#F9FAF8;
    font-size: 24px;
    font-weight: 700;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    column-gap: 15px;
}
a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.sec-1 {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    margin: 50px auto;
    max-width: 1200px;
}
.top-left {
    display: flex;
    flex-direction: column;
}
.title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}
.second-text {
    color: #E5E7EB;
    font-size: 18px;
    margin-bottom: 12px;
}
.top-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.fat-cat-1 {
    max-width: 60%;
    max-height: auto;
}
.top-but {
    background-color: #3882F6;
    border-radius: 6px;
    color: #F9FAF8;
    margin-right: auto;
    font-size: 18px;
    padding: 6px 24px;
    font-weight: bold;
    border: 0;
}

.sec-2 {
    background-color: #F9FAF8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0px;
}
.mid-top {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    padding-bottom: 25px;
}
.mid-bot {
    display: flex;
    flex-wrap: wrap;
    padding: 0 100px;
}
.cat-ex {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
}
.cat-pics {
    max-height: auto;
    max-width: 80%;
    border: 4px solid #3882F6;
    border-radius: 6px;
    padding: 0;
}

.wide-grey {
    background-color: #E5E7EB;
}
.sec-3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 50px 0px;
}
.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    padding: 0 100px;
}
.name {
    margin-left: auto;
    padding-right: 150px;
    font-weight: bold;
    font-size: 24px;
}

.wide-white {
    background-color: #F9FAF8;
}
.sec-4 {
    background-color: #F9FAF8;
    display: flex;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.blue-box {
    display: flex;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 25px 75px;
    margin: 50px 0px;
    border-radius: 6px;
    align-items: center;
}
.box-left {
    display: flex;
    flex-direction: column;
    padding-right: 75px;
}
.call-title {
    font-size: 16px;
    font-weight: bold;
}
.call-text {
    font-size: 14px;
}
.bot-but {
    border-color: #F9FAF8;
    border-radius: 8px;
    padding: 6px 24px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border-style: solid;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #E5E7EB;
    font-size: 18px;
    margin-top: auto;
}