body {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.header {
    display: flex;
    /* I'm not confident space-around is the right answer to this, but it'll do for now. */
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.logo {
    color:#F9FAF8;
    font-size: 24px;
    font-weight: 700;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    column-gap: 15px;
}
a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.sec-1 {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}
.top-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
}
.title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}
.second-text {
    color: #E5E7EB;
    font-size: 18px;
}
.fat-cat-1 {
    max-width: 400px;
}
button {
    background-color: #3882F6;
    border-radius: 6px;
    color: #F9FAF8;
    margin-right: auto;
    font-size: 18px;
    padding: 6px 24px;
    font-weight: bold;
    border: 0;
}